In [ ]:
# Get data to csv
mysql -h *hostname* -P *port number* --database=*database_name* -u *username* -p -e *your SQL query* |
sed 's/\t/","/g;s/^/"/;s/$/"/;s/\n//g' > *output_file_name.csv


mysql --user=username --password database name -e "query" |sed"s/'/\'/;s/\t/\",\"/g;s/^/\"/;s/$/\"/;s/\n//g" > X.csv


# put the query in file db_query.sql
mysql -h host -P 3306 --database db_name -u user -p < db_query.sql  | sed 's/\t/","/g;s/^/"/;s/$/"/;s/\n//g' > data.csv

In [ ]:
# set auto_increment to 1
ALTER TABLE options_live.product_data AUTO_INCREMENT = 1

# to drop unique key
alter table options_live.product_data  drop index u_k;

# to create composite unique key
ALTER TABLE options_live.product_data ADD UNIQUE KEY u_k (product_url,date )

# added more columns
alter table product_data add column seller varchar(75) , add column size varchar(10) ,add column color varchar(30), add column  price int(10) ;

# get data into csv from command line
mysql -h localhost -P 3306 --database=options_live -u root -p -e "query" | sed 's/\t/","/g;s/^/"/;s/$/"/;s/\n//g' > /home/scrapyftpuser/options_live_detail/data_in_csv/myntra.csv

-- added more columns
alter table product_data add column seller varchar(75) , add column size varchar(10) ,add column color varchar(30), add column  price int(10) ;

In [ ]:

# backup one table
mysqldump -h 127.0.0.1  -u root -p  options_live links > links1.sql


# backup of only database structue with no data
mysqldump -d -u someuser -p mydatabase
or
mysqldump --no-data -u someuser -p mydatabase


# Dumping the database structure for one table with no data
mysqldump -d -u someuser -p mydatabase products


# Dumping the database structure for several table with no data
mysqldump -d -u someuser -p mydatabase products categories users



# Dumping the structure to a file
mysqldump -d -u someuser -p mydatabase > mydatabase.sql

mysql -u someuser -p anotherdatabase < mydatabase.sql

In [ ]:

mysqldump -t -u [username] -p test mytable

# If we only wanted to dump data from mytable in category_id 1, we would do this:
mysqldump -t -u [username] -p test mytable --where=category_id=1
or
mysqldump -t -u [username] -p test mytable -wcategory_id=1


# If you need to have spaces in the where query or other special shell characters (such as > and <) then you need to put quotes around the where clause like so:
mysqldump -t -u [username] -p test mytable --where="category_id = 1"
OR
mysqldump -t -u [username] -p test mytable -w"category_id = 1"


# An example of dumping data from two tables using the same where clause could look like this, where we are selecting category_id from tables "mytable" and "anothertable":
mysqldump -t -u [username] -p test mytable anothertable --where="category_id = 1"